name: push_workflow
on:
 push:
    branches:
        - main
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: first step
        run: echo "knowing about push workflow"
      - name: second step
        run: |
            echo "on push event workflow"
            echo "pushed successfully"