name: first_workflow
on:
 push:
    branches:
        - main
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: first step
        run: echo "This is my first workflow"
      - name: second step
        run: |
            echo "practising github actions"
            echo "started successfully"